@import './reset.styl'
@import './base.styl'
@import './layout.styl'
.detail-wrapper
  margin-top 0.4rem
  padding .453333rem 0 .453333rem 0.4rem
  width 100%
  box-sizing border-box
  background #fff
  li
    flex()
    font-size .426667rem
    &>span
      line-height 1rem
    &>span:first-child
      flex 0 0 30%  
      width 30%
      color: #000
    &>span:last-child
      flex 1
      color #000
      opacity 0.4
.back-button
  display block
  margin 0.4rem auto 0
  width 9.2rem
  height 1.3333rem
  border-radius 4px
  background #F5A623
  font-size 0.48rem
  color #fff