@import './reset.styl'
@import './base.styl'
@import './minix.styl'
@import './layout.styl'

.content-wrapper
  width 100vw
  height 100vh
  background url('../images/bg.jpg') no-repeat 0 0;
  background-size 100% 92vh
  overflow hidden
  .nav
    flex()
    justify-content space-between
    margin-top 92vh
    border-t(rgba(0,0,0,0.10))
    box-sizing border-box
    background-color #f5f5f5
    li
      text-align center
      line-height 8vh
      height 8vh
      width 33.33vh
      border-r(rgba(0,0,0,0.10))
      box-sizing border-box
      font-size .426667rem
      color #7e8c8d
      &.need-recharge::before
        display block
        position absolute
        right 0
        bottom 0
        transform rotateZ(135deg)
        content ' '
        height 0
        width 0
        border-top:6px solid rgba(0,0,0,0);
        border-right:6px solid  rgba(0,0,0,0);
        border-bottom:6px solid #ccc;
        border-left:6px solid  rgba(0,0,0,0);
      &:last-child
        border-none()
  .recharge-nav
    position absolute
    bottom 8vh
    left 33.33vw
    flex(column)
    width 4rem
    box-sizing border-box
    background-color #f5f5f5
    li
      width 4rem
      text-align center
      line-height 6vh
      height 6vh
      border-1px(rgba(0,0,0,0.10))
      box-sizing border-box
      font-size .426667rem
      color #7e8c8d
