@import './reset.styl'
@import './base.styl'
.order-list-wrapper
  .order-item
    margin-top .4rem
    padding 0.4rem
    width 100%
    box-sizing border-box
    background-color #fff
  .user-number
    font-size 0.4267rem
    color #000
    opacity .8
    margin-bottom .2rem
  .order-time
    font-size .32rem
    color #000
    opacity .4
    margin-bottom 0.2rem
  .detail-wrapper
    padding .4rem
    width 100%
    box-sizing border-box
    background-color #F5F5F5
    color #000
    .title
      float left
      margin-bottom 0.5rem
      text-align center
      width 20%
      font-size 0.32rem
      opacity .4
    .ctx
      float left
      text-align center
      width 20%
      font-size 0.3733rem
      opacity .8
      .btn
        margin-top -0.15rem
        width 1.87rem
        height 0.67rem
        border none
        border-radius .053333rem
        background #F5A623
        color #fff
