@import './reset.styl'
@import './base.styl'

.content-wrapper
  .problem-wrapper
    margin-top 0.4rem
    background-color #fff
    .problem-item
      padding 0.4rem
      &>div
        margin-bottom 0.4rem
        font-size 0.4267rem
        color #000
        opacity .8
      .answer
        line-height .7rem
        font-size .373rem
        opacity .4
