@import './reset.styl'
@import './base.styl'
@import './minix.styl'
@import './layout.styl'

.content-wrapper
  .authentication-info
    .title
      margin .4rem 0 .133333rem .4rem
      font-size 0.3733rem
      color #000
      opacity .8
    .user-info-wrapper
      padding-left .4rem
      box-sizing border-box
      background-color #fff
      &>div
        flex()
        height 1.6rem
        &>span
          line-height 1.6rem
          font-size 0.4267rem
          color #000
          opacity .8
        &>input
          flex 1
          text-indent .586667rem
          font-size .426667rem
        &:first-child
          border-1px(rgba(151,151,151,0.1))
  .upload-wrapper
    .title
      margin .4rem 0 .133333rem .4rem
      font-size 0.3733rem
      color #000
      opacity .8
      .tip
        font-size 10px
  .id-image-wrapper
    padding .4rem
    box-sizing border-box
    background-color #fff
    .image-item
      margin-bottom 0.4rem
      padding 0.4rem
      box-sizing border-box
      border 1px dashed rgba(151,151,151,0.1)
      .image-wrapper
        flex()
        align-items center
        .id-image
          margin-right .4rem
          margin-bottom .4rem
          width 5.28rem
          height 3.6rem
        .tip
          line-height .6rem
          color #000
          opacity .8
          font-size .32rem
      &:last-child
        margin-bottom 0
        .tip
          font-size .133333rem
          span
            font-size .32rem
            color #000
            opacity .8
    .upload-button
      display block
      line-height 1rem
      text-align center
      width 5.28rem
      height 1rem
      border-radius 4px
      background #F5A623
      font-size 0.48rem
      color #fff
    .id-image-file
      display none
  .submit-btn
    display block
    margin 0.4rem auto 0.4rem
    width 9.2rem
    height 1.3333rem
    border-radius 4px
    background #F5A623
    font-size 0.48rem
    color #fff




