@import './reset.styl'
@import './base.styl'
@import './minix.styl'
@import './layout.styl'
  .user-info-wrapper
    margin-top 0.4rem
    box-sizing border-box
    padding .4rem 0 0 0.4rem
    background-color #fff
    width 100%
    height 2.1333rem
    color #000
    .user-number
      font-size 0.48rem
      opacity 0.8
      margin-bottom 0.4rem
    .yys
      font-size 0.3733rem
      opacity 0.4
  .nav
    flex()
    justify-content space-around
    margin-top 0.4rem
    padding: 0.3733rem 0.4rem 0
    box-sizing border-box
    width 100%
    height 1.3333rem
    border-1px(rgba(0,0,0,0.10))
    background #fff
    &>li
      flex 1
      text-align center
      font-size 0.4267rem
      color #000
      opacity 0.4
      &.active
        color #000
        opacity 1
        border-bottom 2px solid #F5A623
  .meal-wrapper
    background #fff
    .meal
      display none
      padding .4rem
      &.active
        display block
        ul
          flex()
          justify-content: flex-start
          flex-wrap wrap
          .meal-item
            margin-bottom .24rem
            margin-right .24rem
            text-align center
            width 2.9067rem
            height 1.7333rem
            border-all(rgba(0,0,0,0.1))
            box-sizing border-box
            border-radius 2px
            font-size 0.3733rem
            color #000000
            &:nth-child(3n)
              margin-right 0
            &.active
              color #F5A623
            &.active.border:after
              border-color #F5A623
            .package-size
              margin 0.2667rem 0
              font-size 0.48rem
            .price
              font-size 0.3733rem
  .effect-time
    margin-top .4rem
    width 100%
    height 1.2rem
    box-sizing border-box
    padding: 0 .2rem
    background #fff
    font-size .373333rem
    color #000000
    opacity .8
    &>span
      line-height 1.2rem
    .effect
      float left
    .time
      float right
      opacity .4
  .choice-wrapper
     flex()
     margin-top 0.4rem
     flex-wrap wrap
     box-sizing border-box
     width 100%
     border-1px(rgba(0,0,0,0.10))
     background-color #fff
     padding 0.4rem
     li
      line-height .8rem
      width 50%
      font-size 0.3733rem
      color #000
  .order-detail
    line-height 1.2rem
    text-align center
    width 100%
    height 1.2rem
    background-color #fff
    font-size 0.3733rem
    color #4A90E2
  .recharge-button
    display block
    margin 0.4rem auto 0.4rem
    width 9.2rem
    height 1.3333rem
    border-radius 4px
    background #F5A623
    font-size 0.48rem
    color #fff
  .mask
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    width 100vw
    height 100vh
    background rgba(255,255,255,1)
    .loading
      position absolute
      left 50%
      top 50%
      transform translate3d(-50%, -50%, 0)





