@import './reset.styl'
@import './base.styl'
@import './layout.styl'

.content-wrapper
  .use-detail-wrapper
    max-height: 12.5rem
    margin-top 0.4rem
    background-color #fff
    padding 0.4rem
    overflow auto
    .detail-item
      flex()
      font-size 0.4267rem
      color #000
      opacity .8
      &:first-child
        opacity .4
      &>span
        line-height 1rem
        text-align left
        width 50%
  .back-button
    display block
    margin 0.4rem auto 0.4rem
    width 9.2rem
    height 1.3333rem
    border-radius 0.0533rem
    background #F5A623
    font-size 0.48rem
    color #fff
  .mask
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    width 100vw
    height 100vh
    background rgba(255,255,255,1)
    .loading
      position absolute
      left 50%
      top 50%
      transform translate3d(-50%, -50%, 0)
