<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="yes" name="app-moblie-web-app-capable">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!-- 设置不走缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>订单查询</title>
  <script src="../static/js/amfe-flexibl.js"></script>
  <link rel="stylesheet" href="../static/css/orderQuery.css">
</head>

<body>
  <div class="content-wrapper">
    <ul class="order-list-wrapper">
      <!-- 填坑 -->
    </ul>
  </div>
  <script id="order-list" type="text/html">
    {{each list v i}}
    <li class="order-item">
      <h1 class="user-number">用户号码：{{v.iccid}}</h1>
      <div class="order-time">下单时间：{{v.createTime | timestamp | dateFormat 'yyyy-MM-dd hh:mm:ss'}}</div>
      <dl class="detail-wrapper clearfix">
        <dt class="title">流量包型</dt>
        <dt class="title">售价</dt>
        <dt class="title">有效期</dt>
        <dt class="title">充值状态</dt>
        <dt class="title">详情</dt>
        <dd class="ctx">{{v.packagSize | packageSize}}</dd>
        <dd class="ctx">{{v.realCost | money}}</dd>
        <dd class="ctx">{{v.packageType | validityPeriod}}个月</dd>
        <dd class="ctx">{{v.status | rechargeStatus}}</dd>
        <dd class="ctx">
          <button class="btn" data-detail="orderNo={{v.orderNo}}&createTime={{v.createTime | timestamp | dateFormat 'yyyy-MM-dd hh:mm:ss'}}&realCost={{v.realCost | money}}&recharge={{v.status | rechargeStatus}}&payType={{v.payType}}&productName={{v.productName}}">订单详情</button>
        </dd>
      </dl>
    </li>
    {{/each}}
  </script>
  @@include('script.html')
  <script src="../static/js/template-web.js"></script>
  <script src="../static/js/orderQuery.js"></script>
</body>

</html>
