<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="yes" name="app-moblie-web-app-capable">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!-- 设置不走缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>本月使用明细</title>
  <script src="../static/js/amfe-flexibl.js"></script>
  <link rel="stylesheet" href="../static/css/useDetail.css">
</head>

<body>
  <div class="content-wrapper">
    <ul class="use-detail-wrapper">
     <!-- 填坑 -->
    </ul>
    <input type="button" value="返回" class="back-button">
    <div class="mask">
      <img src="../static/images/loading.gif" alt="" class="loading">
    </div>
  </div>
  <script type="text/html" id="detail">
    <li class="detail-item">
      <span>时间</span>
      <span>流量</span>
    </li>
    {{each result v i}}
      <li class="detail-item">
        <span>{{v.datePoint}}</span>
        <span>{{v.usedFlow}} MB</span>
      </li>
    {{/each}}
  </script>
  @@include('script.html')
  <script src="../static//js/template-web.js"></script>
  <script src="../static/js/useDetail.js"></script>
</body>

</html>
