<script src="../static/js/noshare.js"></script>
<script src="../static/js/config.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/fastclick.js"></script>
<script src="../static/js/layer.js"></script>
<script src="../static/js/util.js"></script>
